html {
  background: $black;
}

body,
.body {
  height: 100%;
  background: $white;
  overflow-x: hidden;
}

.body,
.protected-width {
  @include breakpoint(medium) {
    padding-right: 1rem;
    padding-left: 3rem;
  }
  @include breakpoint(large) {
    padding-right: 0;
  }
  @include breakpoint(xxlarge) {
    padding-left: 0;
  }
}

.full {
  padding: 0;
}

.stack-small {
  width: 100%;
  display: block;
  padding-right: 1rem;
  padding-left: 1rem;
  @include breakpoint(medium) {
    width: auto;
    display: inline-block;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}

body {
  opacity: 1;
  transition: opacity 1s;
}

body.fade {
  opacity: 0;
  transition: none;
}

#nav-bar {
  opacity: 1;
  transition: opacity .5s ease-in-out 0;
}

#nav-bar.hidden {
  opacity: 0;
  transition: opacity 0 ease-in-out 0;
}

#no-js-hero-image {
  opacity: 0;
}

#landing-video-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out .5s;
  -moz-transition: all .5s ease-in-out .5s;
  -o-transition: all .5s ease-in-out .5s;
  transition: all .5s ease-in-out .5s;
  display: none;
  @include breakpoint(large) {
    display: block;
  }
}

#landing-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform-origin: center;
  object-fit: cover;
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out 0;
  -moz-transition: all .5s ease-in-out 0;
  -o-transition: all .5s ease-in-out 0;
  transition: all .5s ease-in-out 0;
}


.body.not-scrolled {
  #landing-video-container {
    opacity: 1;
    z-index: 6000;
  }
  #landing-video {
    z-index: 6001;
    opacity: 1;
    transition: 0;
  }
}
#hero-slideshow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  -webkit-transition: all .5s ease-in-out .5s;
  -moz-transition: all .5s ease-in-out .5s;
  -o-transition: all .5s ease-in-out .5s;
  transition: all .5s ease-in-out .5s;
  text-align: center;
  background: $white;
}
.landing-logo {
  position: absolute;
  top: 25%;
  left: 0;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  z-index: 1005;
//  transform: scale(.8) translateY(-500px);
  transform: scale(1) translateY(0);
  transition: 2s;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}