@for $i from 0 through 10 {
  $n: ($i);

  .mb#{$i} {
    margin-bottom: $n+rem !important;
  }

  .mt#{$i} {
    margin-top: $n+rem !important;
  }

  .pb#{$i} {
    padding-bottom: $n+rem !important;
  }

  .pt#{$i} {
    padding-top: $n+rem !important;
  }
  
  .pr#{$i} {
    padding-right: $n+rem !important;
  }

  .pl#{$i} {
    padding-left: $n+rem !important;
  }
  
  .h#{$i} {
    height: $n+rem !important;
    overflow-y: visible;
  }
  
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: absolute;
}

.top-25-percent {
  top: 25%
}

.top-50-percent {
  top: 50%
}

.height-100-percent {
  height: 100%;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}
