#inquire-button-container {
  position: fixed;
  bottom: 0;
}

.inquire-button {
  cursor: pointer;
  display: inline-block;
}

#inquire-text {
  display: inline-block;
//  position: relative;
  transform: rotateZ(-90deg) translateX(6.75rem) translateY(-1.2rem);
  top: -250rem;
}

#inquire-splash {
  width: 500rem;
  height: 500rem;
  background: $black;
  border-radius: 500rem;
//  margin: 1.5rem;
  transform: scale(0.0033);
  position: relative;
  left: -248em;
  top: 250em;
  transition: .25s;
}

#inquire-splash.open {
  transform: scale(1);
  transitions: 1s;
}

.close-modal {
  position: fixed;
  bottom: .75rem;
  left: 0;
  color: $white !important;
  transform: rotateZ(-90deg) translateX(4.25rem) translateY(-2rem);
  &:before {
    content:"\00d7";
    color: $white;
    font-weight: 900;
    padding-right: 1.5rem;
    position: relative;
    top: .5rem;
    font-size: 3rem;
  }
}