#special-inquire-button {
  position: fixed;
  bottom: 0;
  width: 1px;
  height: 1px;
  overflow: visible;
  cursor: pointer;
}

#inquire-text {
  display: inline-block;
  position: relative;
  bottom: 300rem;
  transform: rotateZ(-90deg) translateX(7.5rem) translateY(-1.2rem);
  @include breakpoint(large) {
    transform: rotateZ(-90deg) translateX(8.5rem) translateY(-1.4rem);
  }
}

// splash circle is really big, then scaled down so it stays sharp when animating

#inquire-splash {
  width: 300rem;
  height: 300rem;
  background: $black;
  border-radius: 300rem;
  transition: .25s;
  transform: scale(0.004);
  position: relative;
  left: -148.25em;
  bottom: 152em;
  @include breakpoint(large) {
    transform: scale(0.005);
    left: -148em;
  }
}

#inquire-splash.open {
  transform: scale(1);
}