#special-inquire-button {
  position: fixed;
  bottom: 0;
  background: red;
  width: 1px;
  height: 1px;
  overflow: visible;
  cursor: pointer;
}

#inquire-text {
  display: inline-block;
  position: relative;
  bottom: 500rem;
  transform: rotateZ(-90deg) translateX(10.5rem) translateY(-1.3rem);
}

// splash circle is really big, then scaled down so it stays sharp when animating

#inquire-splash {
  width: 500rem;
  height: 500rem;
  background: $black;
  border-radius: 500rem;
  transform: scale(0.0033);
  position: relative;
  left: -248em;
  bottom: 254em;
  transition: .25s;
}

#inquire-splash.open {
  transform: scale(1);
  transitions: 1s;
}