.menu a {
  color: $black;
}

.menu a:hover {
  color: $dark-gray;
}

.fixed-nav {
  width: 100%;
  overflow-y: visible;
  position: fixed;
  background: $white;
  @include breakpoint(medium) {
    height: auto;
  }
  @include breakpoint(large) {
    background: none;
  }
}
