.language-bar {
  z-index: z(nav);
  font-size: 80%;
  opacity: .3;
  text-align: right;
  a {
    text-decoration: underline;
    color: $black;
  }
  a, strong {
    padding: .5rem .25rem .25rem;
    display: inline-block;
  }
}

.menu a {
  color: $black;
}

.menu a:hover {
  color: $dark-gray;
}

.fixed-nav {
  width: 100%;
  overflow-y: visible;
  position: fixed;
  background: $white;
  @include breakpoint(medium) {
    height: auto;
  }
  @include breakpoint(large) {
    background: none;
  }
}

.social-icon {
  width: 2rem;
  text-align: center;
  &:last-child {
    @include breakpoint(small only) {
      margin-right: .75rem;
    }
  }
}