<footer class="fluid reverse pt4 pb4">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-6"><span class="pr4">Copyright Tishman Speyer 2018</span><a href="http://tishmanspeyer.com">tishmanspeyer.com</a></div>
      <div class="cell medium-6">
        <ul class="menu float-right">
          <li><a href="{{root}}documents/internet-policy.html">internet policy</a></li>
          <li><a href="{{root}}documents/fees.html">fees</a></li>
          <li><a href="{{root}}documents/rules-and-regulations.html">rules and regulations</a></li>
          <li><a href="{{root}}documents/privacy-policy.html">privacy policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>