<footer class="fluid reverse pt4 pb2 protected-width">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell text-left small-order-1 large-6 large-order-2 large-text-right mb1">
        <a href="{{root}}documents/internet-policy.html" class="small stack-small">internet policy</a>
        <a href="{{root}}documents/fees.html" class="small stack-small">fees</a>
        <a href="{{root}}documents/rules-and-regulations.html" class="small stack-small">rules and regulations</a>
        <a href="{{root}}documents/privacy-policy.html" class="small stack-small">privacy policy</a>
      </div>
      <div class="cell text-left small-order-2 large-6 large-order-1 mb1">
        <span class="small">&copy; 2018 Tishman Speyer. All Rights Reserved.</span>
        <a href="http://tishmanspeyer.com" class="stack-small small pr1 pl1">tishmanspeyer.com</a>
      </div>
    </div>
  </div>
</footer>