  <noscript>
    <p style="width: 100%; padding: .25rem; background:#000000; color:#ffffff; text-align:center;">Use a modern web browser with javascript enabled for the best browsing experience.</p>
  </noscript>
<nav class="fixed-nav">

  <div class="top-bar">
    <div class="top-bar-left"><a href="{{root}}index.html"><img alt="studio" class="logo" src="{{root}}/assets/img/studio-logo-150x44.png" srcset="{{root}}/assets/img/studio-logo-150x44@2x.png 2x"></a>
      <button type="button" class="button secondary reveal-inquire show-for-small-only float-right">inquire</button>
<!--    <ul class="menu float-right mt1 hide-for-small-only">-->
<!--      <li><a href="http://facebook.com/yourstudioat" class="float-right"><i class="fab fa-facebook-f"></i></a></li>-->
<!--      <li class="hide-for-small-only"><a href="" class="float-right"><i class="fab fa-twitter"></i></a></li>-->
<!--      <li><a href="" class="float-right"><i class="fab fa-linkedin-in"></i></a></li>-->
<!--      <li><a href="http://instagram.com/yourstudioat" class="float-right"><i class="fab fa-instagram"></i></a></li>-->
<!--    </ul>-->
    </div>
  </div>
  
</nav>