<nav class="fixed-nav">

  <div class="top-bar">
    <div class="top-bar-left"><a href="{{root}}index.html"><img alt="studio" class="logo" src="https://via.placeholder.com/150x44"></a>
    <ul class="menu float-right">
      <li class="stack-small"><button type="button" class="button reveal-inquire show-for-small-only float-right">inquire</button></li>
      <li class="hide-for-small-only"><a href="http://facebook.com/yourstudio" class="float-right"><i class="fab fa-facebook-f"></i></a></li>
      <li class="hide-for-small-only"><a href="http://twitter.com/yourstudio" class="float-right"><i class="fab fa-twitter"></i></a></li>
      <li class="hide-for-small-only"><a href="http://linkedin.com/yourstudio" class="float-right"><i class="fab fa-linkedin"></i></a></li>
      <li class="hide-for-small-only"><a href="http://instagram.com/yourstudio" class="float-right"><i class="fab fa-instagram"></i></a></li>
      <li><button type="button" class="button reveal-inquire show-for-medium hide-for-large">inquire</button></li>
    </ul>
    </div>
  </div>
  
</nav>