<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta-title}}</title>
    <meta name="keywords" content="{{meta-keywords}}">
    <meta name="author" content="Studio" />
    <meta name="description" content="{{meta-description}}">
    <meta property="og:title" content="{{og-title}}" />
    <meta property="og:description" content="{{og-description}}" />
    <meta property="og:image" content="{{og-image}}" />
    <meta property="og:url" content="http://www.yourstudio.com" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Studio" />
    
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P8RH6B3');</script>

    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    
    {{> webfonts}}
    
  </head>
  <body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8RH6B3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    
    {{> main-nav}}
    {{> body}}
    <div class="fluid reverse footer-form protected-width">
      {{> inquire}}
    </div>
    {{> footer-nav}}
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
